@tailwind base;
@tailwind components;
@tailwind utilities;
.hero-bg {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url("/assets/wallpaper.png");
  background-size: cover;
  background-position: center;
}
